h1{
    color: red;
}
label,input{
    color: black;
    font-style: italic;
}
body{
    background: rgb(22,212,75);
    background: radial-gradient(circle, rgba(22,212,75,1) 0%, rgba(240,242,240,1) 47%, rgba(45,215,9,0.9659367396593674) 100%);
}
